# Database
DATABASE_URL="postgresql://user:password@localhost:5432/thomasgoodman?schema=public"
MONGODB_URI="mongodb://localhost:27017/thomasgoodman"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"

# App
NODE_ENV="development"
